/* Variables */

:root {
  --basic-black-rgb: 0, 0, 0;
  --basic-white-rgb: 255, 255, 255;
  --basic-greylight-rgb: 197, 197, 197;
  --basic-greydark-rgb: 169, 169, 169;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light: #F3F7F9;
  --basic-greylight: #C5C5C5;
  --additiona-lgreylight: #F1F5F7;
  --basic-greydark: #A9A9A9;
  --basic-darkblue: #32425C;
  --basic-darkblue-dark: #293449;
  --basic-red: #EE3643;
  --button-hover: #CA2C37;
  --button-focus: #BA2732;
  /* navigation */
  --main-navigation-focus: #161D29;
  --site-navigation-focus: #1D2739;
  /* buy button */
  --basic-green: #63A63E;
  --shadow-green: #367315;
  --hover-buy-button: #5FBB2D;
  --focus-buy-button: #518534;
  --focus-place-order-button: #6db254;
  /* promo-block */
  --promo-materials: #FFBF47;
  --promo-tools: #3BBCE3;
  --promo-technics: #DC91D8;
  --promo-discounts: #8ED78F;
  --promo-delivery: #FFC047;
  /* popular items */
  --popular-head: #F9F5F0;
  --popular-card-border: #EAEAEA;
  /* footer */
  --footer-link: #FFD180;
  --social-icons-background: #212A3A;
  /* modal */
  --form-insert-border: #C5C5C5;
  --basic-greydark: #A9A9A9;
  --submit-background: #F4F4F4;
  --add-item-submit-background: #F1F1F1;
  /* catalog */
  --catalog-basic: #F7F3EC;
  --show-button: #E5E5E5;
}

/* Body */

.page {
  height: 100%;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Common selectors */

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.section-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: var(--basic-black);
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:focus {
  background-color: var(--button-focus);
}

.unmarked-list {
  list-style: none;
}

.not-underlined-link {
  text-decoration: none;
  color: var(--basic-white);
}

/* Header */

.main-header {
  display: grid;
  background-color: var(--basic-light);
  margin-bottom: 59px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-bar {
  background-color: var(--basic-darkblue-dark);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 220px 3fr 2fr 2fr 2fr;
  width: 940px;
  margin: 0 auto;
}

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
}

.logo:focus {
  background-color: var(--button-focus);
}

.bookmarks:focus, .shopping-cart:focus {
  background-color: var(--main-navigation-focus);
}

.place-order {
  background-color: var(--basic-green);
}

.place-order:hover {
  background-color: var(--hover-buy-button);
}

.place-order:focus {
  opacity: 0.5;
}

.secondary-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: 0 auto;
  justify-content: center;
}

.store-description {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 42.5px 0 44.5px 30px;
}

.header-contacts {
  color: var(--basic-darkblue);
  font-size: 14px;
  margin-top: 46px;
  margin-bottom: 40px;
  justify-content: center;
  justify-self: center;
}

.header-contacts-phone {
  width: 270px;
  background-color: var(--basic-light);
  border: 3px solid var(--basic-white);
}

.header-contacts-phone-link {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.header-address {
  margin: 0;
}

.account-login-links {
  font-size: 21px;
  line-height: 21px;
  margin-top: 46px;
  margin-bottom: 67px;
  justify-self: right;
}

.account-link {
  background-color: var(--basic-white);
  text-decoration: none;
  color: var(--basic-black);
}

.account-link:hover {
  color: var(--basic-red);
}

.account-link:focus {
  color: var(--basic-greylight);
}

.current-user {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.personal-account-link {
  color: var(--basic-darkblue);
  font-size: 16px;
  line-height: 18px;
}

.personal-account-link:hover {
  color: var(--basic-red);
}

.current-user:active, .personal-account-link:focus {
  color: var(--basic-greylight);
}

.site-navigation {
  background-color: var(--basic-darkblue);
  grid-column: 1 / -1;
  margin-bottom: 60px;
}

.site-navigation-link:hover {
  background-color: var(--basic-darkblue-dark);
}

.site-navigation-link:focus {
  background-color: var(--site-navigation-focus);
}

/* Main */

.main-section {
  width: 940px;
  margin: 0 auto;
}

/* Promo block */

.promo-block {
  margin-bottom: 59px;
}

.promo-item-title {
  font-size: 24px;
  line-height: 30px;
}

.promo-block-grid {
  display: grid;
  grid-template-areas: "materials tools technics" "slider slider discounts" "slider slider delivery";
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  grid-gap: 20px;
  padding: 0;
}

.promo-item-link {
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(var(--basic-white-rgb), 0.3);
  text-transform: uppercase;
}

.promo-item-link:hover {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.promo-item-link:focus {
  background-color: rgba(var(--basic-greydark-rgb), 0.3);
}

.promo-item-materials {
  grid-area: materials;
  background-color: var(--promo-materials);
}

.promo-item-tools {
  grid-area: tools;
  background-color: var(--promo-tools);
}

.promo-item-technics {
  grid-area: technics;
  background-color: var(--promo-technics);
}

.promo-item-discounts {
  grid-area: discounts;
  background-color: var(--promo-discounts);
}

.promo-item-delivery {
  grid-area: delivery;
  background-color: var(--promo-delivery);
}

/* promo slider */

.slider {
  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-rows: 104px auto auto;
  grid-area: slider;
  margin: 0;
}

.about-img {
  grid-area: 1/1/4/4;
}

.slider-label {
  grid-area: 1/1/2/4;
  background-color: rgba(var(--basic-black-rgb), 0.25);
  padding: 24px 0 16px 23px;
}

.slider-label-title {
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-label-text {
  margin: 0 0 5px 0;
}

.slider-button-left {
  grid-area: 2/1/3/2;
}

.slider-button-right {
  grid-area: 2/3/3/4;
}

.open-catalog-button {
  grid-area: 3/1/4/4;
}

/* Popular blocks */

.popular-header {
  background-color: var(--popular-head);
}

.popular-title {
  color: var(--basic-darkblue);
}

.popular-manufacturers, .popular-products {
  display: grid;
  grid-template-rows: 89px auto;
  grid-gap: 20px;
  margin-bottom: 70px;
}

.popular-header {
  display: grid;
  grid-area: 1/1/2/2;
  grid-template-columns: 3fr 1fr;
}

.show-all-button {
  justify-self: right;
  margin: 25px 14px 26px 0;
}

.catalog-list {
  display: grid;
  grid-area: 2/1/3/2;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
}

.catalog-manufacturers-list {
  grid-template-rows: auto auto;
}

/* Item card */

.catalog-item {
  border: 1px solid var(--popular-card-border);
  box-sizing: border-box;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(var(--basic-black-rgb), 0.15);
}

.catalog-products-item {
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  height: 318px;
}

.catalog-products-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.catalog-manufacturers-item-link {
  height: 145px;
}

.product-name {
  margin: 0;
  text-align: center;
}

.product-image {
  grid-area: 1/1;
  margin: 6px 18px 8px 18px;
}

.item-old-price {
  color: var(--basic-greydark);
}

.item-price {
  margin: 0;
}

.item-price-button {
  font-size: 17px;
  line-height: 18px;
}

.item-hide-button {
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
}

.buy-item-button {
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--shadow-green);
  border: none;
}

.buy-item-button:hover {
  background-color: var(--hover-buy-button);
}

.buy-item-button:focus {
  background-color: var(--focus-buy-button);
}

.add-bookmark-button {
  border: 3px solid var(--basic-green);
  color: var(--basic-darkblue);
  background-color: var(--basic-white);
}

.add-bookmark-button:hover {
  border-color: var(--basic-darkblue);
}

.add-bookmark-button:focus {
  opacity: 0.5;
  border: 3px solid var(--basic-darkblue);
}

/* Services */

.services {
  margin-bottom: 70px;
}

.services-background {
  background-color: var(--additiona-lgreylight);
}

.services-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-title {
  margin-top: 64px;
  margin-bottom: 25px;
}

.service-name {
  color: var(--basic-darkblue);
  margin-top: 0;
  margin-bottom: 25px;
}

.services-list {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: repeat(3, 61px);
  column-gap: 80px;
  padding: 0;
  margin-bottom: 99px;
}

.services-item {
  grid-area: 1/2/4/3;
}

.services-menu-item {
  background-color: var(--basic-darkblue);
}

.services-menu-item:hover {
  background-color: var(--basic-darkblue-dark);
}

.services-menu-item:active {
  background-color: var(--basic-white);
  color: black;
}

/* About company */

.index-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  column-gap: 180px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.partner-companies-list {
  color: var(--basic-black);
  list-style-image: url("../img/partners-list-marker.png")
}

.about-company-title, .contacts-title {
  margin-top: 0;
  margin-bottom: 24px;
}

/* Footer */

.main-footer {
  background-color: var(--basic-darkblue);
}

.main-footer-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logo site-nav" "contact catalog-nav";
  grid-template-columns: 330px auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.footer-logo {
  grid-area: logo;
}

.footer-site-navigation-section {
  grid-area: site-nav;
}

.footer-catalog-navigation-section {
  grid-area: catalog-nav";

}

.footer-site-navigation-link {
  color: var(--additional-greylight);
}

.footer-site-navigation-link:hover {
  text-decoration: underline;
}

.footer-site-navigation-link:focus {
  opacity: 0.5;
}

.footer-company-contacts {
  grid-area: contact;
}

.footer-contact {
  color: var(--basic-light);
}

.footer-link {
  color: var(--footer-link);
}

.secondary-footer {
  background-color: var(--basic-darkblue-dark);
}

.secondary-footer-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-gap: 20px;
}

.footer-external-link:hover {
  text-decoration: underline;
}

.footer-external-link:focus {
  color: var(--basic-red);
}

/* social networks */

.social-network-icon {
  background-color: var(--social-icons-background);
  border-radius: 50%;
}

.social-network-icon:hover, .social-network-icon:focus {
  background-color: var(--basic-red);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 20px rgba(var(--basic-black-rgb), 0.15));
}

.modal-head-line {
  background-color: var(--basic-red);
}

.submit-field {
  background-color: var(--submit-background);
}

.form-input-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-greydark);
  background-color: var(--basic-white);
  border: 2px solid var(--form-insert-border);
}

/* Catalog */

.page-catalog {
  color: var(--basic-black);
}

.breadcrumbs, .filter, .sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.breadcrumbs-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.catalog-settings {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--catalog-basic);
}

/* Filter */

.filter-option-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.price-input {
  font-size: 13px;
  border: none;
  outline: none;
}

.filter-option-list {
  font-size: 15px;
  line-height: 19px;
}

.show-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--show-button);
}

.sort-radio {
  display: none;
}

.sort-ladel {
  opacity: 0.3;
}

.sort-ladel:hover {
  opacity: 1;
}

.sort-radio:checked+.sort-ladel {
  color: var(--basic-red);
  opacity: 1;
}

/* Pagination */

.pagination-item-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--show-button);
  border-radius: 2px;
}

.pagination-item-link:hover {
  border-color: var(--basic-greylight);
}

.pagination-item-link:focus {
  border-color: var(--basic-red);
}

.pagination-item-current, .pagination-item-current:hover, .pagination-item-current:focus {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}

/* About perforators */

.about-perforators {
  background-color: var(--additiona-lgreylight);
}

/* Modal add item */

.continue-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.successful-addition {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.add-item-modal-submit-field {
  background-color: var(--add-item-submit-background);
}