/* Variables */

:root {
  --basic-black-rgb: 0, 0, 0;
  --basic-white-rgb: 255, 255, 255;
  --basic-greylight-rgb: 197, 197, 197;
  --basic-greydark-rgb: 169, 169, 169;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light: #F3F7F9;
  --basic-greylight: #C5C5C5;
  --additiona-lgreylight: #F1F5F7;
  --basic-greydark: #A9A9A9;
  --basic-darkblue: #32425C;
  --basic-darkblue-dark: #293449;
  --basic-red: #EE3643;
  --button-hover: #CA2C37;
  --button-focus: #BA2732;
  /* navigation */
  --main-navigation-focus: #161D29;
  --place-order-button: #63A63E;
  --hover-place-order-button: #5FBB2D;
  --focus-place-order-button: #6db254;
  --site-navigation-focus: #1D2739;
  /* promo-block */
  --promo-materials: #FFBF47;
  --promo-tools: #3BBCE3;
  --promo-technics: #DC91D8;
  --promo-discounts: #8ED78F;
  --promo-delivery: #FFC047;
  /* popular items */
  --popular-head: #F9F5F0;
  --popular-card-border: #EAEAEA;
  /* footer */
  --footer-link: #FFD180;
  --social-icons-background: #212A3A;
  /* modal */
  --form-insert-border: #C5C5C5;
  --basic-greydark: #A9A9A9;
  --submit-background: #F4F4F4;
}

/* Body */

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.page-body img {
  max-width: 100%;
  height: auto;
}

/* Common selectors */

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.section-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: var(--basic-black);
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:focus {
  background-color: var(--button-focus);
}

.unmarked-list {
  list-style: none;
}

.not-underlined-link, .not-underlined-links a {
  text-decoration: none;
  color: var(--basic-white);
}

/* Header */

.main-header {
  background-color: var(--basic-light);
}

.main-navigation {
  background-color: var(--basic-darkblue-dark);
}

.logo {
  background-color: var(--basic-red);
}

.logo:focus {
  background-color: var(--button-focus);
}

.bookmarks:focus, .shopping-cart:focus {
  background-color: var(--main-navigation-focus);
}

.place-order {
  background-color: var(--place-order-button);
}

.place-order:hover {
  background-color: var(--hover-place-order-button);
}

.place-order:focus {
  background-color: var(--focus-place-order-button);
}

.store-description {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts {
  color: var(--basic-darkblue);
  font-size: 14px;
}

.header-contacts-phone {
  color: var(--basic-red);
  background-color: var(--basic-light);
  border: 3px solid var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.account-link {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  text-decoration: none;
  color: var(--basic-black);
}

.account-link:hover {
  color: var(--basic-red);
}

.account-link:focus {
  color: var(--basic-greylight);
}

.site-navigation {
  background-color: var(--basic-darkblue);
}

.site-navigation a:hover {
  background-color: var(--basic-darkblue-dark);
}

.site-navigation a:focus {
  background-color: var(--site-navigation-focus);
}

/* Main */

/* Promo block */

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.promo-item a {
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.promo-item a:hover {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.promo-item a:focus {
  background-color: rgba(var(--basic-greydark-rgb), 0.3);
}

.promo-item-materials {
  background-color: var(--promo-materials)
}

.promo-item-tools {
  background-color: var(--promo-tools)
}

.promo-item-technics {
  background-color: var(--promo-technics)
}

.promo-item-discounts {
  background-color: var(--promo-discounts)
}

.promo-item-delivery {
  background-color: var(--promo-delivery)
}

.slider-item {
  background-color: rgba(var(--basic-black-rgb), 0.25);
}

/* Popular blocks */

.popular-header {
  background-color: var(--popular-head);
}

.popular-title {
  color: var(--basic-darkblue);
}

.popular-item {
  border: 1px solid var(--popular-card-border);
  
  
}

.popular-item:hover {
  box-shadow: 0px 4px 20px rgba(var(--basic-black-rgb), 0.15);
}

.popular-products-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}

.item-price {
  font-size: 17px;
  line-height: 18px;
}

.item-old-price {
  color: var(--basic-greydark);
}

/* Services */

.services {
  background-color: var(--additional-greylight);
}

.services-item {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-title {
  color: var(--basic-darkblue);
}

.services-menu-item {
  background-color: var(--basic-darkblue);
}

.services-menu-item:hover {
  background-color: var(--basic-darkblue-dark);
}

.services-menu-item:active {
  background-color: var(--basic-white);
  color: black;
}

/* About company */

.partner-companies-list {
  color: var(--basic-black);
  list-style-image: url("../img/partners-list-marker.png")
}

/* Footer */

.main-footer {
  background-color: var(--basic-darkblue);
}

.footer-site-navigation a {
  color: var(--additional-greylight);
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus{
  opacity: 0.5;
}

.footer-contact {
  color: var(--basic-light);
}

.footer-link {
  color: var(--footer-link);
}

.secondary-footer {
  background-color: var(--basic-darkblue-dark);
}

.footer-external-link:hover{
  text-decoration: underline;
}
.footer-external-link:focus{
  color: var(--basic-red);
}

/* social networks */

.social-button img {
  background-color: var(--social-icons-background);
  border-radius: 50%;
}

.social-button img:hover, .social-button img:focus {
  background-color: var(--basic-red);
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 20px rgba(var(--basic-black-rgb), 0.15));
}

.modal-head-line {
  background-color: var(--basic-red);
}

.submit-field {
  background-color: var(--submit-background);
}

.write-message-form input[type="text"], .write-message-form input[type="email"], .write-message-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-greydark);
  background-color: var(--basic-white);
  border: 2px solid var(--form-insert-border);
}